.key {
  cursor: pointer;
  background: transparent;
  color: white;
  border: none;
  box-shadow: 0 0 0 1px #999b9d inset;
  margin: 0.1rem;
  padding: 0.4rem;
  min-height: 2rem;
  user-select: none;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
}
.key.disabled {
  color: #fdfdfd;
  opacity: 0.2;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(11, 5rem);
  grid-auto-flow: row;
  grid-template-areas:
          "esc . f1 f2 f3 f4 f5 f6 f7 f8 f9 f10 f11 f12"
          "tilde _1 _2 _3 _4 _5 _6 _7 _8 _9 _0 minus equal backspace"
          "tab q w e r t y u i o p obracket cbracket backslash"
          "capslock a s d f g h j k l semicolon tick enter enter"
          "l_shift z x c v b n m colon dot slash r_shift r_shift r_shift"
          "l_ctrl . alt space space space space space space altgr . . . r_ctrl"
          "ins home pgup . . . . . . . numlock kp_slash kp_multiply kp_minus"
          "del end pgdn . . . . . . . kp_home kp_uparrow kp_pgup kp_plus"
          ". . . . . . . . . . kp_leftarrow kp_5 kp_rightarrow kp_plus"
          ". uparrow . . . . . . . . kp_end kp_downarrow kp_pgdn kp_enter"
          "leftarrow downarrow rightarrow . . . . . . . kp_ins kp_ins kp_del kp_enter";

  @media (min-width: 780px) {
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(6, 5rem);
    grid-template-areas:
            "esc . f1 f2 f3 f4 f5 f6 f7 f8 f9 f10 f11 f12 . print_screen scroll_lock break . . ."
            "tilde _1 _2 _3 _4 _5 _6 _7 _8 _9 _0 minus equal backspace ins home pgup numlock kp_slash kp_multiply kp_minus"
            "tab q w e r t y u i o p obracket cbracket backslash del end pgdn kp_home kp_uparrow kp_pgup kp_plus"
            "capslock a s d f g h j k l semicolon tick enter enter . . . kp_leftarrow kp_5 kp_rightarrow kp_plus"
            "l_shift z x c v b n m colon dot slash r_shift r_shift r_shift . uparrow . kp_end kp_downarrow kp_pgdn kp_enter"
            "l_ctrl . alt space space space space space space altgr . . . r_ctrl leftarrow downarrow rightarrow kp_ins kp_ins kp_del kp_enter";
  }
}

.keyboard .key {
  background: white;
  color: #1e2222;
  border-radius: 0.4rem;
  font-size: 0.8rem;
  min-height: auto;
  word-break: break-all;
}
.keyboard .key:hover,
.keyboard .key:active,
.keyboard .key.selected:hover,
.keyboard .key.selected:active,
.keyboard .key.selected {
  background: #25a233;
  color: #fdfdfd;
  box-shadow: none;
}

.keyboard .key.bound {
  background: #ff851b;
  color: white;
}