header {
  display: flex;
  align-items: center;
  color: #ff851b;
  height: 4vw;
  font-size: 1.5rem;
  max-height: 5rem;
  min-height: 2rem;
}

@media (min-width: 780px) {
  header {
    font-size: 2.5rem;
  }
}