.section {
  display: grid;
  grid-template-columns: [full-start] minmax(0.5rem, 1fr) [main-start] minmax(
      0,
      1000px
    ) [main-end] minmax(0.5rem, 1fr) [full-end];
  padding: 0.5rem 0;
}
.section > * {
  grid-column: main;
}
.section.blue {
  background: #171b1e;
}
.section.blue h1,
.section.blue h2,
.section.blue h3 {
  color: var(--color-primary);
}
.section.white {
  background: white;
}
.section.white h1,
.section.black h2,
.section.black h3 {
  color: var(--color-primary);
}
@media (min-width: 480px) {
  .section.blue {
    padding: 2rem 0;
  }
}
@media (min-width: 780px) {
  .section.blue {
    padding: 5rem 0;
  }
}
